{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%; overflow=hidden;">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="한글, 한국어, 한국, 대한민국, 사전, 언어, 번역">
	{% block meta %}
	{% endblock meta %}
	<title>{% block title %}한글 한글 아름답게{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blue.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
</head>
<!-- <body style="background-image: url({% static 'img/background_index.jpg' %}); background-size: cover; height: 100%; overflow=hidden;"> -->
<body>
	<div style="width: 99%;">
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" style="text-align: center;">
				<p><a href="/사전/국어"><img src="{% static 'img/logo_kor.png' %}" style="width: 8rem;"></a></p>
				<p><h2>국어 사전</h2></p>
				<p>국어 사전을 만들고 있습니다.</p>
				<p>아직 준비중입니다.</p>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<p><a href="/사전/영어"><img src="{% static 'img/logo_eng.png' %}" style="width: 8rem;"></a></p>
				<p><h2>영어 사전</h2></p>
				<p>영어 사전을 만들고 있습니다.</p>
				<p>아직 준비중입니다.</p>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<p><a href="/사전/일본어"><img src="{% static 'img/logo_jap.png' %}" style="width: 8rem;"></a></p>
				<p><h2>일본어 사전</h2></p>
				<p>일본어 사전을 만들고 있습니다.</p>
				<p>아직 준비중입니다.</p>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<p><a href="/사전/라틴어"><img src="{% static 'img/logo_lat.png' %}" style="width: 8rem;"></a></p>
				<p><h2>라틴어 사전</h2></p>
				<p>라틴어 사전을 만들고 있습니다.</p>
				<p>아직 준비중입니다.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p><h3>찾은 글자들: <span id="char_set"></span></h3></p>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stupidtable.js' %}"></script>
	﻿<script type="text/javascript">
		var colors = ["red","orange","yellow","green","blue","navy","purple"];
		var cnt = 0;
		$(document).ready(function() {
			setInterval(function() {
				cnt += 1;
				var n = colors.length;
				$(".rainbow").each(function(index) {
				var len = parseInt($(this).attr('data-length'));
					for (var i=0; i<len; i++) {
						$(this).children("span").eq(i).css('color',colors[(cnt+i)%n]);
					}
				});
			}, 100);
		});
	</script>
	<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
	</script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<script type="text/javascript" src="https://ddo7jzca0m2vt.cloudfront.net/unify/plugins/back-to-top.js"></script>
	<script type="text/javascript">
		$(".comment-reply").click(function(){
			var id = $(this).data("comment-id");
			var replyform = $("#replyform" + id)
			if (replyform.css("display") == "none") {
				replyform.css("display", "");
			} else {
				replyform.css("display", "none");
			}
		});
	</script>
	<script type="text/javascript">
		function updateMathJax() {
			MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
		}
	</script>
	<script type="text/javascript">
		var origin_height = $(".tableofcontents").outerHeight();
		$(".tableofcontents-fold a").click(function() {
			if ($(this).data("show") == "false") {
				$(this).data("show", "true");
				$(".tableofcontents").css("overflow","").animate({height:origin_height + "px"});
				$(this).text("[접기]");
			} else {
				$(this).data("show", "false");
				$(".tableofcontents").css("overflow","hidden").animate({height:"5em"});
				$(this).text("[펼치기]");
			}
		});
	</script>
	<script type="text/javascript">
		var char_set = [];
		var spans = [];
		var mouse_x = 0;
		var mouse_y = 0;
		var create_mode = false;

		function create_span(x, y, ch) {
			var span = document.createElement('span');
			span.innerText = ch;
			span.style.position = 'absolute';
			span.style.left = x + 'px';
			span.style.top = y + 'px';
			span.style.color = 'black';
			span.style.fontSize = '2rem'
			document.body.appendChild(span);
			spans.push(span);
		}

		$('html').mousedown(function (event) {
			create_mode = true;
		});

		$('html').mouseup(function (event) {
			create_mode = false;
		});

		$('html').mousemove(function (event) {
			var x = event.pageX;
			var y = event.pageY;
			console.log(x + ' ' + y);
			if (create_mode) {
				var char = String.fromCharCode(Math.floor(Math.random() * 11172) + 44032);
				if (char_set.indexOf(char) == -1) {
					char_set.push(char);
					var temp = ''
					for (var i = 0; i < char_set.length; i++)
						temp += char_set[i] + ' ';
					$('#char_set').text(temp);
				}
				create_span(x, y, char);
			}
		});

		function timer() {
			if (spans.length < 1) return;
			for (var i = spans.length - 1; i >= 0; i--) {
				var x = parseInt(spans[i].style.left.split('px')[0]);
				var y = parseInt(spans[i].style.top.split('px')[0]);
				y += 10;
				if (y > 900) {
					document.body.removeChild(spans[i]);
					spans.splice(i, 1);
					continue;
				}
				spans[i].style.left = x + 'px';
				spans[i].style.top = y + 'px';
			}
		}

		$(document).ready(function() {
			ret = setInterval(timer, 10);
		});

		$(document).bind('selectstart',function() {return false;});
	</script>
	{% block javascript %}
	{% endblock javascript %}
</body>
</html>
